extends email-layout

block content
  h2 Забравена парола
  p Здравейте. Поискахте нова парола. Моля, кликнете върху бутона долу, за да смените паролата си. Моля, имайте предвид, че тази връзка е валидна само за следващия час.
  +button(resetURL, 'Нова парола →')
  p 
    | Ако не можете да кликнете върху горния бутон, моля, посетете
    a(href="#{resetURL}" style="color: black") #{resetURL}
  br
  p Ако не сте поискали този имейл, моля да го изтриете.
