extends layout

block content
  .inner

    .desc(style='padding-bottom: 20px; flex-direction: column;')
      h2 Кой съм аз?
      p Привет. Казвам се съм Любо и съм full stack developer от София. Обичам да споделям това, което знам, чрез обучителните си видеа и моят подкаст. Създавам уеб сайтове от 7 години и станах доста добър в това. 
      p Имам страст към дизайна, разработката на сайтове и неща свързани с бизнес и личностно развитие. Щастлив съм да кажа, че кариерата ми комбинира всички тези неща. От техническа гледна точка прекарвам по-голямата част от времето си в работа с HTML5, CSS3, JavaScript и WordPress. Новите уеб технологии ме карат да се вълнувам и нямам търпение да видя какво ново ще дойде през следващите няколко години.
      .flex-center
        img(src='/images/photos/bio-strip.png', style='object-fit: contain;')
      //- h2 Проекти
      //- p Имал съм удоволствието да работя с десетки наистина велики хора и компании върху някои невероятни проекти. По-долу са някои от клиентите с които съм работил. От уважение към личните предпочитания на клиентите, с които работя, не мога да покажа част от най-добрата ми работа на този сайт, но мисля, че уроците и информацията, които споделям говорят сами за умения ми. Ако искате да видите някои примери или може би нещо по-конкретно, моля, свържете се  с мен и ще се радвам да ги коментираме.
      h2 Още за мен
      p Когато не създавам уебсайтове, обичам да прекарвам времето с приятелката ми Ели, моето семейство и приятели. През лятото обичам да карам колело и да ходя на планина. Обожавам да чета книги, най-вече фентъзи и книги за личностно развитие ( за фентъзи фенове ще има 10% отстъпка от услугите ми, но нищо чудно да ви разпитам преди това 😆 ). Сред близките ми е известно, че гледам нездравословно големи количества сериали. Посвирвам и на китара, но в последно време нямам много време за това. 
      h2 В момента приемам нови проекти
      p
        |  Ако искате да се свържете с мен във връзка с работа по проект или за други въпроси, моля, пишете ми имейл на адрес 
        a(href='mailto://lubo@devzone.bg') lubo@devzone.bg 
        | или погледнете страницата ми  
        a(href='/services') Услуги.
