extends layout

block content
  .inner

    .desc(style='padding-bottom: 20px; flex-direction: column;')
      h2 Какво са "бисквитки"?
      p Бисквитките са малки парчета информация, които сайтовете запазват в паметта на твоя компютър (или смартфон, таблет) или на хард диска.
      p Бисквитки могат да бъдат създадени при посещение на сайт, койтоги използва, като в повечето случаи се пази безвредна и анонимна информация, която е необходима на сайта, за да бъде предоставено по-добро обслужване и за да са възможни определени функционалности на сайта.
      p За повече информация относно това какво представляват бисквитките, как можете да ги деактивирате и изтриете, посетете www.aboutcookies.org
      h2 Защо DevZone.BG използва бисквитки?
      p Обикновено бисквитките са необходими, за да се събере статистическа информация или за да се предостави дадена функционалност на потребителите на сайта.
      p Ние използваме бисквитки от една страна, за да можем след логин в сайта, да знаем, че си логнат и да не те питаме за потребител и парола на всяка отделна страница, а от друга страна, за да събираме информация за броя посетители на сайта и това какво съдържание използват. DevZone.BG използва услугата Google Analytics за анализ на посетителското поведение и тази услуга също създава бисквитки, които имат за цел да проследят кои страници посещават нашите потребители и като цяло как използват сайта.
      p Също така, услуги като Youtube и Flickr, които използваме за вмъкнато съдържание (видео и снимки), създават свои бисквитки.
      p Важно е да отбележим, че бисквитките, които ние използваме, съдържат само анонимна информация с цел подобряване на потребителското обслужване и на услугите ни. Не съдържат лична информаци.
      h2 Бисквитки за анализ на потребителското поведение
      p Тези бисквитки разпознават и броя посетители на сайта ни, разкриват как посетителите използват сайта и кое съдържание е интересно и търсено от тях.
      p Сайтът ни използва за целта Google Analytics. Събираната информация е в анонимна форма. Ето какви бисквитки създава Google Analytics, когато използвате нашия сайт:
      h2 Функционални бисквитки
      p Тези бисквитки са свързани с определени функционалности на нашия сайт. Ето за какво ги използваме:
      ul(style="text-align: left")
        li Логин в сайта и да знаем, че си логнат
        li Запазване на информация, попълнена в дадена форма, за да не се налага да я попълваш втори път на следваща страница (но без лични данни)
      p А ето и конкретните бисквитки, който създаваме за целта:
      h2 Вмъкнато съдържание
      p Както споменахме, услуги като Youtube и Flickr създават свои собствени бисквитки, когато преглеждате вмъкнато съдържание - видео или снимки, например.
      p Ние нямаме контрол над тези бисквитки и за конкретна информация за това как и защо се използват, трябва да посетите сайта на съответната компания/услуга, която ги създава.
      p За връзка с нас
      p 
        | Ако имате въпроси за поверителността на личните данни или относно информацията, която пазим за потребителите на сайта, както и за оплаквания и сигнали, можете да се 
        a(href='mailto://lubo@devzone.bg') свържете с нас.
