extends layout

include mixins/_resultCard
include mixins/_pagination

block content
  .inner
    h2= title
    .stores
      each result in results
        //- - console.log(results)
        +resultCard(result)
    +pagination(page, pages, count)
