extends layout

include mixins/_podcastCard
include mixins/_paginationPodcasts
  
block content
  .inner
    h2= title
    .stores
      each podcast in podcasts
        +podcastCard(podcast)
    +paginationPodcasts(page, pages, count)
