extends layout

block content
  .inner

    .desc(style='padding-bottom: 20px; flex-direction: column;')
      h1 Услуги
      p Може да се възползвате от това да работите с мен по подобряването на текущия ви уебсайт, увеличаването на приходите от него или по създаването на нов по-модерен сайт. Все пак трябва да сме сигурни, че няма някой по-добър за вашите нужди. Критични елементи за добрата работа между нас и общите ползи са големината на вашата фирма, вашите нужди и не на последно място вашето мислене.
      //- .flex-center
      //-   img(src='/images/photos/bio-strip.png', style='object-fit: contain;')
      h2
        span.underlined Големината на вашият бизнес
      p Ако сте голяма фирма (100 служители или повече), има други експерти, които имат по-подходящ опит.
      p От практиката ми съм разбрал, че успявам да помогна най-много на малки и средни предприятия, както и лични проекти със създаването и развиването на техния уебсайт и уеб стратегия от които да генерират повече приходи. Ако това сте вие, продължавайте да четете. Има още няколко неща, за които трябва да проверим...
      h2
        span.underlined Вашите нужди
      p Бях свикнал да приемам разнообразни видове проекти, но реших да фокусирам работата си към няколко по-конкретни вида сайтове, с които да бъда максимално полезен.
      p
        b Сайтове изработени с WordPress -
        |  подходящи за лични проекти, за малки и средни предприятия. Това е система за управление на съдържанието, с която ще можете да редактирате с лекота сайта си след като е изработен от мен. През 2017 година близо 30% от всички сайтове в Интернет използват тази платформа.
      p 
        b Сайтове с платформа изцяло разработена за вас с най-модерните технологии като Node.js/Express/Pug/Sass/Webpack и други. - 
        | подходящи за хората със зорко око към детайлите, възможно най-добрата оптимизация за проекта и неговото скалиране. Тази опция предпочитат тези, които разбират, че уебсайта им е лицето на фирмата в Интернет и това да бъде създаден безупречно изисква време.
      p 
        b Онлайн магазини - 
        | може да бъдат изработени с платформа по избор (WordPress + WooCommerce или OpenCart) в зависимост от целите и размера на магазина.
      p 
        b Оптимизация на кода, снимките и бързината на зареждане на сайта ви - 
        | оптимизиране на вече съществуващи WordPress сайтове с които да задържите потребителите си по-дълго в сайта и които няма да излезнат от него само, защото зарежда много бавно.
      h2
        span.underlined Вашето мислене
      p Ако имате нужда от бърза корекция по вашият уебсайт, има десетки, ако не и стотици алтернативи, които да наемете. Не правя задача по задача имейл след имейл от днес за утре (или за днес). Аз само ще ви изнервя с моето настояване да приемете предизвикателството и да поемете по един по-бавен и устойчив път за разработване на сайта си, така че той да е най-доброто, което може да бъде и да въздейства на клиентите, както бизнеса ви заслужава.
      p Комуникацията и отношенията са много важни за мен, затова държа непрекъсната връзка с клиентите си. Имам метод на комуникация с който вие сте в непрекъснато течение с развитието на работата, а аз не прекарвам половин работен ден в писани на имейли и мога да се фокусирам върху желания от вас резултат.
      p 
        b Ако имате същите разбирания като мен с голяма доза радост и вълнение, ще очаквам да ми пишете на адрес 
        b
          a(href='mailto://lubo@devzone.bg') lubo@devzone.bg 
        b  и да коментираме работата по проекта ви.
